
div {
border: 0px solid black;
padding-top: 80px;
padding-right: 30px;
padding-bottom: 50px;
padding-left: 80px;
}
.button {
border: black;
border-style: outset;
color: white;
padding: 16px 16px;
width: 300px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
margin: 24px 12px;
transition-duration: 0.4s;
cursor: pointer;
}

.button1 {
background-color:   #FFFFFF;
color: black;
border: 2px solid #CBCBCB;
}

.button1:hover {
background-color: transparent;
color: white;
}

.button2 {
background-color: #FFFFFF;
color: black;
border: 2px solid #CBCBCB;
}

.button2:hover {
background-color: transparent;
color: white;
}
.button3 {
background-color:   #FFFFFF;
color: black;
border: 2px solid #CBCBCB;
}

.button3:hover {
background-color: transparent;
color: white;
}

div2 {
 border: 0px solid black;
  padding-top: 30px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px; 
  color: white;
}

#parent { 
  position: relative; 
  width: 1024px; 
  height: 575px; 
  background-color: #fafafa; 
  border: solid 3px #9e70ba; 
  font-size: 24px; 
  text-align: center; 
} 

#child { 
  position: absolute; 
  right: 40px; 
  top: 100px; 
  width: 1024px; 
  height: -575px; 
  background-color: #fafafa; 
  border: solid 3px #78e382; 
  font-size: 80px; 
  text-align: center; 
} 